*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
.header {
    max-width: 100%;
    border-bottom: 1px solid gray;
}
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.unu {
    flex: 1 1 auto;
    text-align: center;
}
.doi {
    flex: 1 1 auto;
    align-self: center;
}
.div-cautare{
    display: flex;
    max-width: 30rem;
    border: 1px solid rgb(180, 67, 127);
    justify-content: space-between;
    border-radius: 3px;
}
.div-cautare button {
    cursor: pointer;
}
.doi input {
    height:  2.5rem;
    width: 100%;
}
.test {
    max-width: auto;
}
.trei {
    flex: 0 1 30%;
    display: flex;
    align-self: center;
    list-style: none;
    height: auto;
    justify-content:space-evenly;
}
.trei a {
    text-decoration: none;
    color: black;
    font-size: 1.09rem;
}
.trei a:hover {
    color: #54b8a7;
}
.imagine-header {
    grid-area: imagine-header;
    width: 100%;
    background: linear-gradient(90deg, rgba(180,48,172,1) 0%, rgba(131,184,108,1) 35%, rgba(180,48,172,1) 100%);    height: 100px;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Satisfy', cursive;
    color: white;
}
.overlay {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }

  .popup {
    position: absolute;
    width: 25%;
    height: 35%;
    top: 35%;
    left: 35%;
    text-align: center;
    background: white;
  }
 
  .popup h3 {
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    color: black;
  }
  .CloseIcon{
    cursor: pointer;
  }
  .button-clasa-trei {
    background: none;
    font-size: 1.09rem;
}
.button-clasa-trei:hover{
    cursor: pointer;
    color: #54b8a7;
}
.container-produse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40rem;
    height:20rem;
    margin:auto;
    margin-top: 5px;
    border: 1px solid black;
    align-content: flex-start;
}
.item-img {
    height:100%;
    width:37%;
}
.item-img img{
    width:100%;
    height:100%;
}
.a-goleste {
    display: flex;
    width:  40rem;
    margin: auto;
    justify-content: flex-end;
    margin-top:15px;    
}


.a-goleste a:hover{
    color:white;
}

.cos-gol {
    width:40rem;
    margin:auto;   
    margin-top:3rem;
}
.cos-gol a {
    text-decoration: none;
}
.t-responsive {
    display:none;
}
.responsive-unu{
    display:none;
}
.sterge-comanda {
    text-decoration: none;
    background: #b36bad;
    padding:10px;
    color:white;
}
.trimite-comanda {
    margin-left:5px;
    text-decoration: none;
    background: #54b8a7;
    padding:10px;
    color:white;
}