*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
.header {
    max-width: 100%;
    border-bottom: 1px solid gray;
}
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.unu {
    flex: 1 1 auto;
    text-align: center;
}
.doi {
    flex: 1 1 auto;
    align-self: center;
}
.div-cautare{
    display: flex;
    max-width: 30rem;
    border: 1px solid rgb(180, 67, 127);
    justify-content: space-between;
    border-radius: 3px;
}
.div-cautare button {
    cursor: pointer;
}
.doi input {
    height:  2.5rem;
    width: 100%;
}
.test {
    max-width: auto;
}
.trei {
    flex: 0 1 30%;
    display: flex;
    align-self: center;
    list-style: none;
    height: auto;
    justify-content:space-evenly;
}
.trei a {
    text-decoration: none;
    color: black;
    font-size: 1.09rem;
}
.trei a:hover {
    color: #54b8a7;
}
.imagine-header {
    grid-area: imagine-header;
    width: 100%;
    background: linear-gradient(90deg, rgba(180,48,172,1) 0%, rgba(131,184,108,1) 35%, rgba(180,48,172,1) 100%);    height: 100px;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Satisfy', cursive;
    color: white;
}
.overlay {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }

  .popup {
    position: absolute;
    width: 25%;
    height: 35%;
    top: 35%;
    left: 35%;
    text-align: center;
    background: white;
  }
 
  .popup h3 {
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    color: black;
  }
  .CloseIcon{
    cursor: pointer;
  }
  .container-inregistrare {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }
  .container-inregistrare form {
      min-height: 50%;
      display:flex;
      flex-direction: column;
      min-width: 50%;
      margin:auto;
      align-content: flex-end;
      justify-content: space-evenly;
  }
  .container-inregistrare form input{
      padding:5px;
      border: 1px solid gray;
      height:3rem;
  }
.container-inregistrare form button{
    cursor: pointer;
    width:100%;
    bottom:0;
    font-size: 1rem;
    background: #54b8a7;
    height:3rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-inregistrare form button:hover{
    color:white;
    font-size: 1rem;
}
.a-ai-uitat {
    text-decoration: none;
    color: black;
}
.a-ai-uitat:hover {
    color: #54b8a7;
}
.inregistrare
{
    min-width: 50%;
      margin:auto;
 
}
.teasda {
    display:block;
    font-size: 1.1rem;
    background: #b36bad;
    height:3rem;
    text-decoration: none;
    color: black;
    align-items: center;
   line-height:3rem;
}
.teasda:hover {
    color:white;
}
.main-container-inregistrare{
    max-width: 70%;
    margin:auto;
}
.mini-container {
    max-width: 30%;
    margin:auto;
}
.mini-container input[type=text],[type=password],[type=email] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
.mini-container button {
    width:100%;
    padding:12px;
    margin-top:20px;
    cursor: pointer;
    background: #54b8a7;
}
.mini-container button:hover {
    color:white;
}
.mini-container input[type=checkbox]
{
    height: 20px;
    width: 20px;
}
.container-conditii label{
    font-size: 1.5rem;
}
.mini-container p::before
{
   content: "* ";
   color:red;
   height:2px;
}
.last-p {
    margin-bottom: 2rem;
}
.mini-container h1 {
    margin-top: 10px;
    margin-bottom:7px;
}
.mini-container p{
    font-size: 1.2rem;
}
.button-clasa-trei {
    background: none;
    font-size: 1.09rem;
}
.button-clasa-trei:hover{
    cursor: pointer;
    color: #54b8a7;
}
.errori {
    color:red;
}
.t-responsive {
    display:none;
}
.responsive-unu{
    display:none;
}
.fa-solid {
    position: relative;
}
.counter-button {
    position:absolute;
    top: -3px;
    left:3px;
    background: rgb(92, 159, 92);
    color:white;
    font-size: 13px;
    width:15px;
    height:13px;
    text-align: center;
    border-radius: 5px;

}