@media (max-width: 767px)
{
    .boxx {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        display:flex;
        flex-direction: column;
        margin:7px;
    }
    .unu {
        display:flex;
        justify-content:center;
        align-items:center;
        z-index:5;
        background: white;
    }
    .doi {
        width:100%;
    }
    .div-cautare .div-cautare input {
        width:100%;
    }

    .trei {
        display:none;
    }
    .t-responsive {
        display:block;
        position:absolute;
        right:28px;
        top: 13px;
        padding:5px;
        padding-top:2px;
        color:rgb(0, 0, 0);
        font-size: 22px;
        }
    .responsive-unu {
        display:flex;
        height:2rem;
        align-items:center;
        justify-content:space-evenly;
        flex:50;
    }
    .fa-heart {
        color:#a33ca3;
    }
    .container {
        display:flex;
        margin:0;
        width:100%;
    }
    .left-side{
        display:none;
    }
    .main-center {
        display: flex;
       flex-wrap: wrap;
    }
    
    .product {
        flex:1 0 43%;
        margin:4px;
        margin-top:0.5rem;
    }
    .product:last-child {
        margin-right: none;
    }
    .imagine-header {
        height:3.1rem;
        font-size:1.7rem;
        background:#54b8a7; 
    }
    .esti-inregistrat {
        position: absolute;
        top: 8%;
        left:0%;
        z-index:50;
        background: rgba(0, 0, 0, 0.8);
        border:0 solid #adadad;
        width: 100%;
    }
    .esti-inregistrat-1 {
        background: white;
    }
    .overlay {
        width: 100%;
        height:100%;
    }
    .popup {
        width:100%;
        top: 4.5rem;
        height: 60%;
        left:unset;
    }
    .container-inregistrare {
        width:100%;
    }
    .container-inregistrare form {
        width:90%;
    }
    .inregistrare {
        width:90%;
    }
    .inregistrare a {
        border-radius: 2px 15px;
    }
    .container-inregistrare form input {
        border-radius: 2px 15px;
    }
    .container-inregistrare form button
    {
        border-radius: 2px 15px;
    }
    .container-produse {
        width: 97%;
        margin:5px;

    }
    .item2{
        overflow: hidden;
        inline-size: 60%; 
    }
    .a-goleste {
        width:100%;
        height:2.5rem;
        align-items: center;
        margin-top:5px;
    }
    .a-goleste p {
        margin-right:6px;
    }
    .trimite-comanda
    {
        margin-left:0;
    }
    .main-container-inregistrare
    {
        margin:0;
        max-width: 100%;
    }
    .mini-container {
        max-width: 100%;
        margin:5px;
    }
    .cos-gol {
        width:100%;
    }
    .container-inregistrare form{
      align-content: stretch;
      justify-content:unset;
      min-height:unset;
      min-width: unset;
    }
    .main-center{
        width:100%;
    }
    .dropdown-imagine-header{
        display:none;
    }
    .sending-container{
        width:100%;
        margin-left:10px;
    }
   .sending-main{
       display:none;
   }
}
@media (max-height: 474px) 
    {
    .popup{
        top: 0;
        height:100%;
    }
     .inregistrare{
        display: none;
    }
    .produs-descriere {
        white-space: wrap;
        height:7%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}